* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
}

main {
	padding: 20px 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 40px 20px;
}

@media only screen and (max-width: 767px) {
	.container {
		width: 90%;
		padding: 20px 0;
	}
}

/****LOADER****/

#loader {
  z-index: 10;
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#loading {
  font-family: 'Monoton', cursive;
  color: red;
  margin-top: 20px;
  font-size: 40px;
}

@media only screen and (max-width: 767px) {
  #loader img {
    height: 50vh;
  }
}

/****NAV****/

nav {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.links {
	list-style: none;
	display: flex;
	align-items: center;
  margin-left: 10px;
}

.links li {
	font-family: 'Monoton', cursive;
	margin: 0 5px;
	padding: 0 5px;
	border-radius: 4px;
	font-size: 1.5vw;
	color: #ccc;
}

.links li.active {
	border: 1px solid #555;
	color: #555;
}

.links li.hovered {
	color: #555;
}

.logo {
	height: 80px;
	margin-right: 10px;
}

@media only screen and (max-width: 767px) {

	.brand {
		text-align: right;
    width: 100%;
	}

	.links {
		margin-top: 10px;
		padding: 0;
		justify-content: flex-end;
		max-width: 100%;
    flex-wrap:  wrap;
	}

	.links li {
		font-size: 7.9vw;
	}


}

/****LANDING****/

.landing {
	padding: 16vh 0;
	color: #ccc;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.landing .title {
	width: 100%;
}

.landing .title h1 {
	font-size: 4vw;
}

.landing .title h1 span {
	font-family: "Monoton", cursive;
	color: red;
	font-weight: lighter;
	font-size: 5vw;
}

.landing .content {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	font-size: 3.5vw;
  margin-top: 10px;
}

#typewriter {
	display: block;
	color: #777;
}

.landing:before {
	content: '';
	height: 120%;
	width: 25vw;
	display: block;
	position: absolute;
	bottom: -5vh;
	right: 2vw;
	background: url(../images/bg1.png) top no-repeat;
	background-size: cover;
	z-index: -10;
	opacity: 0.1;
}

@media only screen and (max-width: 767px) {

	.landing {
    padding: 10vh 5px;
    display: block;
    height: 75vh;
	}

  .landing .title h1 {
    font-size: 9vw;
    line-height: 1.4;
  }

  .landing .title h1 span {
    font-size: 14vw;
  }

	.landing .content {
    display: block;
		padding-top: 20px;
		text-align: left;
    font-size: 8vw;
    margin-top: 5px;
	}

	.landing:before {
		width: 65%;
    height: 100%;
		right: 0;
    top: 0;
	}
}

/****FOOTER****/

footer {
  display: flex;
  color: #ccc;
  width: 50%;
}

footer .my-links {
  margin-right: 50px;
  font-size: 1vw;
}

footer .my-links a {
  margin: 0 3px;
}

footer p {
  font-size: 0.8vw;
  line-height: 2;  
}

@media only screen and (max-width: 767px) {
  footer {
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  footer .my-links {
    width: 100%;
    text-align: center;
    margin: 0 0 5px;
  }

  footer .my-links a {
    margin-right: 10px;
    font-size: 20px;
  }

  footer p {
    width: 100%;
    text-align: center;
    font-size: 10px
  }
}