* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
}

main {
	padding: 20px 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 75%;
	margin: 0 auto;
	padding: 40px 20px;
}

@media only screen and (max-width: 767px) {
	.container {
		width: 90%;
		padding: 20px 0;
	}
}

/****NAV****/

nav {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.brand {
	width: 100%;
}

.links {
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
	max-width: 290px;
}

.links li {
	font-family: 'Monoton', cursive;
	margin: 0 5px;
	padding: 0 5px;
	border-radius: 4px;
	font-size: 25px;
	color: #ccc;
}

.links li.active {
	border: 1px solid #555;
	color: #555;
}

.links li.hovered {
	color: #555;
}

.logo {
	height: 80px;
	margin-right: 10px;
}

@media only screen and (max-width: 767px) {

	.brand {
		text-align: right;
	}

	.links {
		margin-top: 10px;
		padding: 0;
		justify-content: flex-end;
		max-width: 100%;
	}

	.links li {
		font-size: 6.5vw;
	}
}

/****LANDING****/

.landing {
	padding: 60px 10px;
	color: #ccc;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.landing .title {
	width: 100%;
}

.landing .title h1 {
	font-size: 50px;
}

.landing .title h1 span {
	font-family: "Monoton", cursive;
	color: red;
	font-weight: lighter;
}

.landing .content {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	font-size: 50px;
}

#typewriter {
	display: block;
	background: #ccc;
	color: #fff;
	padding: 0 10px 3px;
}

.landing:before {
	content: '';
	height: 110%;
	width: 20%;
	display: block;
	position: absolute;
	bottom: -50px;
	right: 15%;
	background: url(../images/bg1.png) top no-repeat;
	background-size: cover;
	z-index: -10;
	opacity: 0.1;
}

@media only screen and (max-width: 767px) {

	.landing {
		flex-wrap: wrap;
	}

	.landing .title {
		width: 100%;
	}

	.landing .content {
		padding-top: 20px;
		width: 100%;
		text-align: left;
		justify-content: flex-start;
	}

	#typewriter {
		font-size: 30px;
	}

	.landing:before {
		width: 100%;
		right: 0;
	}
}